.page-wrapper {
  min-height: 100%;
  padding: 0;
  box-sizing: border-box;

  .page-header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88rpx;
    background-color: #fff;
    border-bottom: 1rpx solid #eee;
    z-index: 100;
    padding-left: constant(safe-area-inset-left, 0px);
    padding-left: env(safe-area-inset-left, 0px);
    padding-right: constant(safe-area-inset-right, 0px);
    padding-right: env(safe-area-inset-right, 0px);

    &.header-centered {
      text-align: center;
    }

    &.header-default {
      padding-left: 30rpx;
      padding-right: 30rpx;
      justify-content: flex-start;
    }

    .page-title {
      font-size: 36rpx;
      font-weight: 600;
      color: #333;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .page-content {
    min-height: calc(100vh - 88rpx);
    padding: 30rpx;
    box-sizing: border-box;

    &.no-padding {
      padding: 0;
    }
  }
}
