.position-component {
  min-height: 100%;
  background-color: #f5f5f5;
  padding: 30rpx;

  .header {
    text-align: center;
    margin-bottom: 40rpx;
    padding-top: 40rpx;

    .title {
      font-size: 40rpx;
      font-weight: bold;
      color: #333;
    }
  }

  .content {
    text-align: center;
    color: #999;
    font-size: 32rpx;
  }
}
